<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GoumangToolKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GoumangToolKit.Properties.Settings>
            <setting name="datastr" serializeAs="String">
                <value>Database='autorivet';Data Source='192.168.3.32';User Id='autorivet';Password='222222';CharSet=utf8;Allow User Variables=True;Allow Zero Datetime=True</value>
            </setting>
            <setting name="info_path" serializeAs="String">
                <value>\\192.168.3.32\Autorivet\prepare\INFO\</value>
            </setting>
        </GoumangToolKit.Properties.Settings>
    </userSettings>


</configuration>